
footer{
    background-color: darkgrey;
}

h1
h2 {
    font-family: 'Alfa Slab One', cursive;
}

.hero {
    background: url(../img/principal1.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color: rgb(113, 4, 113) ;
}